
Supplemental/Capping_Queries.md
Supplemental/Images/API_List.png
Supplemental/Images/Edit_Icon.png
Supplemental/Images/Quotas.png
Supplemental/Images/Select_Project.png
Instructions/Weather maps - OpenWeatherMap2.pdf
Instructions/Weather maps - OpenWeatherMap.pdf
Instructions/Weather maps - OpenWeatherMap-LAYERS.pdf
Instructions/starter_code/__pycache__/api_keys.cpython-36.pyc
Instructions/Current weather data - OpenWeatherMap.pdf
